<table>
    <thead>
    <tr>
        <th>Название</th>
        <th>Характеристики</th>
        <th>Количество</th>
        <th>Стоимость</th>
        <th>Сумма скидки</th>
        <th>Итог</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>
                {% for name, value in product.getParameters() %}
                    <p>{{ name }}: {{ value }}</p>
                {% endfor %}
            </td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.price|number_format(2, '.', ' ') }} руб.</td>
            <td>
                {% if product.price_discount %}
                    {{ product.price_discount|number_format(2, '.', ' ') }} руб.
                {% else %}
                    &mdash;
                {% endif %}
            </td>
            <td>{{ product.price_total|number_format(2, '.', ' ') }} руб.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>